/* custom css */
body {
 padding: 20px 0px 20px 0px;
}

#works h1{
  font-size: 65px;
  padding: 20px 0px 20px 0px;
}

#logotop {
  font-family: 'Voltaire', sans-serif;
  font-size: 40px;
}

#empire {
  text-align: right;

}

#logo{
  text-align: right;
}

#about{
  background-color: #3F5D7E;
  color: white;
}

#contact{
  background-color: #3F5D7E;
  color: white;
}
